@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  background-color: black;
  color: white;
  border: 5px solid rgb(111, 108, 108);
  border-radius: 15px;
  font-family: "Mukta", sans-serif;
  font-size: medium;
  font-size: 17px;
  width: 100%vw;
  padding: 5px;
}

/* Aside */

aside {
  background-color: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
  width: 100%;
  background-image: url(img/IMG-9965.JPG);
  background-position: center;
  background-size: cover;
}

header {
  font-size: 7vh;
  position: absolute;
  right: 30px;
  top: -40px;
  animation: headerSlide 2s ease forwards;
  justify-content: center;
  width: 50%;
  height: 100px;
}
@keyframes headerSlide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(90px);
  }
}

h1 {
  color: black;
  font-family: "Permanent Marker", sans-serif;
}

header p {
  font-size: 4vh;
  font-family: "Shadows into light", sans-serif;
  color: rgb(255, 255, 255);
}

.careerTitle {
  font-family: sans-serif;
  color: gray;
}

.githubHeader {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.contactMeImg {
  position: absolute;
  top: 100px;
  right: 0;
  margin: 20px;
  border-radius: 50%;
}

/* Profile Image */

.img {
  overflow: hidden;
  border-radius: 50%;
  max-width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  animation: imgSlide 2s ease forwards;
}
@keyframes imgSlide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.img img {
  width: 100%;
  height: 100%;
}

/* Back 2 Top */

#goToTop {
  position: fixed;
  opacity: 0.7;
  top: 20px;
  left: 20px;
}

.b2tbtn {
  border-radius: 50%;
}

/* Nav */

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background-color: transparent;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
}

nav ul li {
  background-color: rgb(9, 59, 59);
  padding: 5px;
  margin: 0;
  border-radius: 15px;
}

nav ul li:hover {
  background-color: rgb(36, 49, 34);
}

a {
  text-decoration: none;
  color: rgb(197, 197, 243);
  font-size: large;
}

/* Sections (Main)*/

.section {
  margin: 30px;
  margin-bottom: 25px;
  padding: 25px;
  color: white;
}

h2 {
  font-family: "Skranji", sans-serif;
  font-size: 9vh;
  display: flex;
  justify-content: center;
  padding: 3%;
}

h3 {
  font-size: larger;
  color: rgb(240, 240, 171);
}

/* Edu Section */

.education {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

h4 {
  font-size: larger;
  color: rgb(152, 238, 152);
  margin-top: 30px;
}

/* Projects Section*/

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 50px;
}

h5 {
  font-size: 3vh;
  color: rgb(242, 153, 153);
}

/* Footer */

.footerContainer {
  display: grid;
}

.footer {
  background-color: rgb(58, 57, 57);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  padding: 10px;
}

td a {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* Form */

footer a {
  font-size: 150%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.formLink {
  border: 5px solid white;
  border-radius: 15px;
  background-color: rgb(9, 59, 59);
  color: rgb(197, 197, 243);
}

.formLink:hover {
  background-color: rgb(36, 49, 34);
}

/* ------------------------TABLET------------------------------ */

@media only screen and (max-width: 1000px) {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .img {
    max-width: 200px;
    height: 200px;
  }

  header {
    font-size: 5vh;
  }
  @keyframes headerSlide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  header p {
    font-size: 2vh;
    padding: 1px;
  }

  /* Nav */

  nav ul li {
    font-size: 5px;
    padding: 3px;
  }

  h2 {
    font-size: 6vh;
  }

  .education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Footer */

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* ----------------------MOBILE--------------------------------- */

@media only screen and (max-width: 550px) {
  aside {
    display: grid;
    text-align: center;
    justify-content: center;
  }

  .img {
    margin: 0;
    max-width: 170px;
    height: 170px;
  }

  header {
    font-size: 4vh;
    margin: 0;
  }

  header p {
    font-size: 2vh;
    padding: 1px;
  }

  /* Nav */
  a {
    font-size: small;
  }

  nav ul li {
    font-size: 5px;
    padding: 1px;
  }

  .navList li {
    margin-right: 0;
  }

  .nav li {
    margin: 1px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  /* Sections */

  h2 {
    font-size: 5vh;
  }

  .education {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;

    gap: 50px;
  }

  .contactMeImg {
    top: 270px;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

/* laptop */
@media only screen and (min-width: 1024px) {
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
